ion-item {
  --padding-start: 0;
  margin-bottom: 16px;
}

ion-label {
  font-weight: 500;
  margin-bottom: 8px;
}

ion-input {
  --padding-top: 8px;
  --padding-bottom: 8px;
}

ion-button {
  margin-top: 24px;
}
