ion-title {
    text-align: center;
}

#login-form {
    width: 80%;
    max-width: 420px;
    /* separar del header superior */
    margin: 150px auto 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}



